<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <!-- 변수 지정 -->
<!--    <property name="LOG_DIR" value="C:/SpringSTS/spring-tool-suite-4-4.27.0.RELEASE-e4.34.0-win32.win32.x86_64/sts-4.27.0.RELEASE/logs" />-->
<!--    <property name="LOG_PATH_NAME" value="${LOG_DIR}/sleepyjelly.log" />-->

    <!-- FILE Appender -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_PATH_NAME}</file>
        <!-- 일자별로 로그파일 적용하기 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_PATH_NAME}.%d{yyyyMMdd}</fileNamePattern>
            <maxFileSize>500MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>5GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] %logger{36} : %m%n</pattern>
        </encoder>
    </appender>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] %logger{36} : %m%n</pattern>
        </encoder>
    </appender>

	<logger name="org.apache.commons.digester" level="ERROR" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.springframework" level="INFO"	additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.amazonaws" level="ERROR" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.apache.http" level="ERROR" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="egovframework.rte.fdl.security" level="ERROR"	additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="jdbc.connection" level="ERROR" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="jdbc.resultset" level="ERROR" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="jdbc.audit" level="ERROR" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="jdbc.resultsettable" level="ERROR" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="jdbc.sqltiming" level="ERROR" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="jdbc.sqlonly" level="INFO" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.apache.commons.beanutils" level="ERROR" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="org.apache.ibatis.io" level="ERROR" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="com.lambdaworks.redis.protocol" level="ERROR"	additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="log4jdbc.debug" level="ERROR" additivity="false">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
<!-- 	<logger name="org.quartz.core" level="ERROR"	additivity="false"> -->
<!-- 		<appender-ref ref="FILE" /> -->
<!-- 		<appender-ref ref="STDOUT" /> -->
<!-- 	</logger> -->
    <!-- TRACE > DEBUG > INFO > WARN > ERROR, 대소문자 구분 안함 -->
    <!-- profile 을 읽어서 appender 을 설정할수 있다.(phase별 파일을 안만들어도 되는 좋은 기능) -->
    <root level="DEBUG">
<!--        <appender-ref ref="FILE" />-->
        <appender-ref ref="STDOUT" />
    </root>
</configuration>